.site-footer {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  border-top: 1px solid var(--line);
  color: #687370;
  font-size: 9px;
  font-weight: 750;
}
.site-footer > div {
  display: flex;
  gap: 23px;
}
.site-footer a:hover {
  color: var(--ink);
}
